.tab-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin:25px 0 35px;
}

.tab-btn{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:#17344f;
    color:white;
    border:1px solid aqua;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

.tab-btn i{
    margin-right:8px;
}

.tab-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,255,255,.15);
}

.tab-btn.active{
    background:gold;
    color:black;
    border-color:gold;
}

button:disabled{
    background:#888;
    cursor:not-allowed;
    opacity:.7;
}